@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.slick-prev,
.slick-next {
  font-size: 24px; // ボタンのフォントサイズを調整
  z-index: 1; // スライドよりも手前に表示
}

.slick-prev { //前の矢印
  left: 0%; //矢印が画像の外に行かないように
}

.slick-next { //後ろの矢印
  right: 0%; //矢印が画像の外に行かないように
}

.slider, .slider-item {
  width: 400px; // スライダーも画像もサイズ変更
}